* {
    font-size: small;
    font-family: Georgia, serif;
    color: white;
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(0deg,rgb(204, 212, 228), white);
}

.navbar {
    background-image: linear-gradient(90deg, blue, blue, rgb(0, 187, 255));
}

.nav-link {
    color: whitesmoke;
}

.dropdown-item button{
    background-color: transparent;
    border: 0px solid black;
    color: black;
}




/* carousel test */


.carousel {
    width: 100%;
    height: 90vh;
}


.carousel-item-item {
    width: 100vw;
    height: 90vh;
    color: white;

    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.background1 {
    background-image: url('../Image/image1.jpg');
}

.background2 {
    background-image: url('../Image/image2.jpg');
}

.background3 {
    background-image: url('../Image/image3.jpg');
}

.background4 {
    background-image: url('../Image/image4.jpg');
}

.background5 {
    background-image: url('../Image/image5.webp');
}


.carousel-content {
    max-width: 50vw;
    margin: 50px;
    padding: 20px;
    background-color: rgba(0, 19, 115, 0.664);
    border-radius: 10px;
}

.carousel-content:hover {
    background-color: rgba(0, 19, 115, 0.845);
}





/* main */


.container *{
    color: black;
    text-align: center;
}

.section-header{
    margin-top: 100px;
    text-align: center;
}
.section-header hr{
    border-radius: 50%;
    border: 2px solid black;
}
.section-header h5{
    color: rgb(255, 163, 72);
    color: rgb(0, 0, 171);
    font-size: larger;
    font-weight: bolder;
}

.col{
    /* border: 1px solid red; */
}

.service-button{
    border:none;
    background-color:transparent;
}

.service{
    max-width: 275px;
    background-image: linear-gradient(0deg,skyblue , rgb(227, 244, 255));
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
    padding: 40px;
}
.service img{
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border: 2px solid skyblue;
}
.service:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.service-area{
    padding: 20px;
    border-radius: 15px;
}
.service-area:nth-child(1), .service-area:nth-child(3), .service-area:nth-child(6), .service-area:nth-child(8)
{
    background-color: rgb(188, 234, 255);
}
.service-area:nth-child(2),.service-area:nth-child(4), .service-area:nth-child(5), .service-area:nth-child(7)
{
    background-color: white;
}

.service-area img{
    width: 200px;
    height: 150px;
    border-radius: 5px;
}


.step{
    background-color: white;
    max-width: 300px;
    margin: 20px;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.step img{
    width: 200px;
    height: 200px;
}



.care{
    /* background-color: green; */
    align-items: center;
    margin-bottom: 50px;
    min-width: 550px;
}

.care img{
    width: 100%;
    border-radius: 50px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.care-form{
    background-color: white;
    min-width: 530px;
    padding: 50px;
    margin: auto;
    border-radius: 20px;
    text-align: right;
}

.care-form label{
    padding: 0px;
}
.care-form input, .care-form textarea{
    min-width: 300px;
    margin: 10px;
    padding: 5px;
    border: none;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.care-form input:last-child{
    background-color: rgb(203, 203, 203);
    text-align: center;
    margin-top: 50px;
}














/* footer */
.footer>* {
    box-sizing: border-box;
    flex: 1 100%;
}

footer {
    background-color: rgb(0, 0, 78);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -0-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
}

.footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.payment a img{
    height: 200px;
    width: 300px;
}

.footer-right {
    width: 50%;
}

h2 {
    font-weight: 600;
    font-size: 17px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer-right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -0-flex;
    display: flex;
    flex-flow: row wrap;
}

.footer-right >*{
    flex: 1 50%;
    margin-right: 1.25em;
}
.box a{
    color: #999;
}
.features a{
    color: #999;
}

.box a:hover, .features a:hover{
    color: white;
}
.footer-bottom{
    text-align: center;
    padding-top: 50px;
}
.footer-left p{
    padding-right: 20%;
}

.socials a i{
    color: white;
    padding: 10px 12px;
    font-size: 25px;
}

@media screen and (min-width: 600px){
    .footer-right> *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right{
        flex: 2 0px;
    }
}

@media (max-width:600px) {
    .footer{
        padding: 15px;
    }
}